@page
@model BookIssuingModel
@{
    ViewData["Title"] = "Book Issuing";
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card bg-secondary-subtle">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fa-solid fa-address-book fa-beat" style="color: #0854d9; font-size: 90px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h3>Book Details</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Member ID</label>
                                <input asp-for="MemberId" class="form-control" placeholder="ID" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Book ID</label>
                                <div class="input-group">
                                    <input asp-for="BookId" class="form-control" placeholder="Book ID" />
                                    <button type="button" class="btn btn-primary" asp-page-handler="GetBookDetails">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group">Member Name</label>
                                <input asp-for="MemberName" class="form-control" placeholder="Name" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group">Book Name</label>
                                <input asp-for="BookName" class="form-control" placeholder="Book Name" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group">Start Date</label>
                                <input asp-for="StartDate" class="form-control" placeholder="ID" type="date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group">End Date</label>
                                <input asp-for="EndDate" class="form-control" placeholder="ID" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center gap-4 mt-4">
                            <div class="d-grid col-5">
                                <button class="btn btn-dark btn-lg" asp-page-handler="IssueBook">Issue Book</button>
                            </div>
                            <div class="d-grid col-5">
                                <button class="btn btn-light btn-lg" asp-page-handler="ReturnBook">Return Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fa-solid fa-receipt fa-beat" style="color: #0854d9; font-size: 90px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4>Issued Books List</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <asp:DataGrid id="GridView1" runat="server" AutoGenerateColumns="False" CssClass="table table-striped table-bordered">
                                <Columns>
                                    <asp:BoundField DataField="member_id" HeaderText="Member ID" />
                                    <asp:BoundField DataField="member_name" HeaderText="Member Name" />
                                    <asp:BoundField DataField="book_id" HeaderText="Book ID" />
                                    <asp:BoundField DataField="book_name" HeaderText="Book Name" />
                                    <asp:BoundField DataField="issue_date" HeaderText="Issue Date" />
                                    <asp:BoundField DataField="due_date" HeaderText="Due Date" />
                                </Columns>
                            </asp:DataGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".table").DataTable();
        });
    </script>
}
